body {
    margin: 65px;
    background-color: #e7e1d9;
    color: #0d5614;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
    margin-top: 10%;
}

.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

/* nav bar */


.navigation ul {
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: flex-end;


}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #0d5614;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    padding: 0 20px;
}


/* H1 på alle sider*/
.overskrift {
    margin-top: 80px;
    font-size: xx-large;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 100%;
    margin: 0px;

}

.overskriftmenu{
    margin-top: 80px;
    font-size: xx-large;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 100%;
    margin: 13px;
}

/* index side */

.gåvidere {
    margin-top: 50px;
}

.gåvidere a {
    font-size: x-large;
    color: #0d5614;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 70px;
    text-decoration: none;
    border: 1px solid #0d5614;
    padding: 15px 15px;

}

/* KATEGORI SIDE */

.kategori{
    display: grid;
   /*display: flex;*/
}

.kategoriknap {
    border: 1px solid #0d5614;
    padding: 5px 15px;
    margin: 1.5%; /* afstanden mellem boxene*/
}

.kategori a {
    font-size: x-large;
    color: #0d5614;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 80px;
    text-decoration: none;

}

/* PRODUKTLISTE */

img {
    width: 300px;
    border: 2px solid #0d5614;

}

.plist {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 300;
    margin: 5%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pris {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 500;
    margin: 5%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.førpris {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 500;
    margin: 5%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: line-through;
}

.BoxUdsolgt {
    width: 200px;
    /* rammens størrelse */
    height: 20px;
    /* rammens størrelse */
    border: 1px solid #0d5614;
    padding: 15px;
    /* afstand fra tekst til boks*/
    /*margin: 10px;*/
    background-color: rgb(247, 94, 94);
    margin: -400px;
    /* så er boxen i midten*/
    margin-left: 300px;
    /* så er boxen i midten*/
    opacity: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: center;
    /* så er tesktsen i midten af boksen*/

}

.Rabat {
    width: 40px;
    height: 20px;
    /* skal være samme størrelse som udsolgt box */
    border: 1px solid #0d5614;
    padding: 15px;
    /*margin: 10px;*/
    background-color: rgb(247, 230, 71);
    margin: -400px;
    margin-right: -2030px;
    opacity: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: center;
    /* så er tesktsen i midten af boksen*/
}

/* PRODUKT */
/* Billede på produkt*/
.produktslut {
    width: 45%;
    margin-left: 5%;
    margin-top: 15%;
}

.grid-itemptekst {
    margin-left: -30%;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 150%;
    margin-right: 25%;

}

.pførpris {
    text-decoration: line-through;
}

.pnypris {
    color: red;
}